<app-nav-bar></app-nav-bar>



<div class="fondo">

    <div class="card-1">
        <!-- <p-fieldset legend="Donaciones" class="p-element line-height-3 m-0 campo ng-star-inserted">
            <fieldset class="campo p-fieldset p-component p-fieldset-toggleable p-fieldset-expanded" id="p-fieldset-2">
                <div role="region" class="p-toggleable-content campo ng-trigger ng-trigger-fieldsetContent"
                    id="p-fieldset-2-content" aria-labelledby="p-fieldset-2" aria-hidden="false">
                    <div class="p-fieldset-content campo ">
                        Apoyanos a seguir funcionando y ayudando a los animalitos a tener una segunda oportunidad de
                        vida.

                    </div>
                </div>
            </fieldset>
        </p-fieldset> -->
    </div>



    <div class="card m-6 border-0 surface-border">
        <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">

            <section class="row col-lg-12">
                <section class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                    <div class="flex flex-column align-items-center text-center mb-4">
                        <img class="w-9 shadow-2 my-3 mx-0" src="assets/colitas/images/logo_bcpFondo.png" height="55"
                            alt="Bamboo Watch">
                        <div class="texto text-2xl font-bold">Cuenta Bcp</div>
                        <div class="mb-3">Cuenta Ahorro: 193-2222486-0-52</div>
                        <div class="mb-3">Interbancario: 002-193002222486052-12</div>
                    </div>
                </section>



                <section class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                    <div class="flex flex-column align-items-center text-center mb-3">
                        <img class="w-10 shadow-2 my-3 mx-0" src="assets/colitas/images/logo_interbankFondo.png"
                            alt="Bamboo Watch">
                        <div class="text-2xl font-bold">Cuenta Interbank</div>
                        <div class="mb-3">Cuenta Ahorro: 193-2222486-0-52</div>
                        <div class="mb-3">Interbancario: 002-193002222486052-12</div>
                    </div>
                </section>

                <section class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                    <div class="flex flex-column align-items-center text-center mb-3">
                        <img class="w-10 shadow-2 my-3 mx-0" src="assets/colitas/images/logo_scotiabankFondo.png"
                            alt="Bamboo Watch">
                        <div class="text-2xl font-bold">Cuenta Scotiabank</div>
                        <div class="mb-3">Cuenta Ahorro: 193-2222486-0-52</div>
                        <div class="mb-3">Interbancario: 002-193002222486052-12</div>
                    </div>
                </section>


            </section>
        </div><!--Flex-->

    </div><!--Card-->

</div><!--Finaliza Fondo-->

















<app-footer></app-footer>