<app-nav-bar></app-nav-bar>

<div class="fondo">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="assets/colitas/images/oficina.jpg" class="d-block w-100" alt="...">  
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/colitas/images/archivo4.jpg.avif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/colitas/images/archivo2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-4 font-bold text-2xl">
            <span class="text-900 span-text">Siempre </span>
            <span class="text-red-300 span-text">puedes</span>
            <span class="text-900 span-text"> mejorar</span>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6 mb-3 px-5">
                <img src="assets/colitas/images/logo1.jpg" class="icon_benefit">
                <div class="text-800 mb-1 font-bold style-titule">Ingreso</div>
                <span class="text-700 text-sm line-height-3 content-opt">Escanea tu documento de manera
                    nitida y precisa.</span>
            </div>

            <div class="col-12 md:col-6 mb-3 px-5">
                <img src="assets/colitas/images/icon_search.png" class="icon_benefit">
                <div class="text-900 mb-3 font-bold style-titule">Búsqueda</div>
                <span class="text-700 text-sm line-height-3 content-opt">Podras buscar tu documento
                    segun el nombre que le hayas puesto.</span>
            </div>
            <div class="col-12 md:col-6 mb-3 px-5">
                <img src="assets/colitas/images/logo2.jpg" class="icon_benefit">
                <div class="text-900 mb-3 font-bold style-titule">Clasificar</div>
                <span class="text-700 text-sm line-height-3 content-opt">Los documentos estaran clasificados
                    segun el tema del cuerpo del documento. </span>
            </div>
            <div class="col-12 md:col-6 md:mb-3 mb-0 px-3">
                <img src="assets/colitas/images/logo3.jpg" class="icon_benefit">
                <div class="text-900 mb-3 font-bold style-titule">Guardar</div>
                <span class="text-700 text-sm line-height-3 content-opt">Luego de cada ingreso de documento
                    recuerda asignarle un nombre antes de guardar.</span>
            </div>
        </div>
    </div>

    <div id="adopta" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
        <div class="col-12 mt-8 mb-8 p-2 md:p-8 content-adopta">
            <div class="grid grid-nogutter surface-section text-800">
                <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                    <section>
                        <span class="text-yellow-400 block text-2xl mb-1 label-adp">DIGITALIZA LA INFORMACIÓN</span>
                        <br>
                        <div class="text-6xl mb-3 label-content">Es mejor tener los documentos escaneados y guardados virtualmente
                            que tenerlos en hojas fisicas que se pueden perder.</div>
                        <button pButton pRipple label="ESCANEA!" type="button" class="p-button-outlined button"
                            routerLink="/adopciones"></button>
                    </section>
                </div>
                <div class="col-12 md:col-6 overflow-hidden img-content">
                    <img src="assets/colitas/images/logo4.jpg" alt="Image" class="mb-5 image-dog">
                    <img src="assets/colitas/images/logo5.jpg" alt="Image" class="mb-5 image-dog">
                </div>
            </div>
        </div>
    </div>
    <div id="contactanos" class="surface-section px-4 py-6 md:px-6 lg:px-8">
        <div class="col-12 p-2 md:p-8 content-contacto">
            <div class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0">
                <!-- <h3 class="text-gray-900 mb-2"> Nos encantará saber de ti </h3> -->
                <div class="mb-4 text-2xl">
                    <span class="text-900 contac-text">Contáctate </span>
                    <span class="text-green-700 contac-text">con</span>
                    <span class="text-900 contac-text"> nosotros</span>
                    <p class="text-900 sm:line-height-2 md:line-height-4 text-2xl mt-4 contac-p"
                        style="max-width:560px;">“Recuerda que tendras la opcion de poder eliminar
                        en caso la informacion ingresada no sea la correcta cualquien consulta puede hacerla llegar.”
                    </p>
                </div>
                <button type="button" class="btn btn-success btn-circle btn-xl" >
                    <a class="pi pi-whatsapp" href="https://api.whatsapp.com/send?phone=+51915%20232%20590&text=Hola+Colitas+sin+Hogar+%F0%9F%90%B6%F0%9F%90%B1" style="font-size: 4rem;"></a>
                </button>
                <span class="text-green-700 font-bold text-2xl contac-num">+51 997 310 228</span>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
