<app-nav-bar></app-nav-bar>

<p-blockUI [blocked]="blockedPanel" [baseZIndex]="99999">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>


<div class="fondo" style="z-index: 1000">
    <div class=" py-3 md:px-6 text-center text-pbc">
        <div class="mb-2 font-bold text-2xl">
            <span class="text-900 span-text content-pbc"> INGRESAR </span>
            <span class="text-red-300 span-text content-pbc">DOCUMENTOS</span>
            <!-- <span class="text-900 span-text"> ser parte!</span> -->
        </div>
    </div>


    <div class="py-2 px-4 lg:px-8 mt-0 mx-0 lg:mx-8 content-card">

        <button pbutton="" pripple="" type="button" label="Secondary"
          class="p-element p-ripple p-button-secondary p-button p-component">
          <span class="p-button-label" (click)="router.navigate(['/registrarPublicacion'])">INGRESAR NUEVA PUBLICACION</span>
          <span class="p-ink"></span>
        </button>


        <div class=" col-12 mt-2 mb-2 p-2 md:p-8 card flex justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-4" *ngFor="let publicacion of publicaciones">
                    <table class="table table-bordered table-hover table-horizontal">
                        <thead class="thead-dark">
                            <tr>
                                <th>Usuario creador</th>
                                <th>Título de la publicación</th>
                                <th>Fecha publicación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{publicacion.usuario}}</td>
                                <td>{{publicacion.titulo}}</td>
                                <td>{{publicacion.fechaPublicacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="verImagen(publicacion.linkDoc)">Ver Imagen</button>
                    <button (click)="eliminar(publicacion.id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->
