<!-- Panel de bloqueo -->
<p-blockUI [blocked]="blockedPanel">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>


<div class="fondo"
    [style]="{'display': 'flex', 'justify-content':'center', 'height': '100vh', 'align-items':'center' }">
    <div class="lg:w-3"
        [style]="{'background-color': 'white', 'padding':'25px', 'border-radius':'20px','box-shadow':'0px 0px 25px rgba(0,0,0,0.3)'}">
        <div class="text-center mb-3 justify-content-center align-content-center">
            <img src="assets/colitas/images/logo_login.png" alt="Image" height="200" class="mb-1">
            <div class="text-900 text-3xl font-medium mb-4 mt-2">
                <h1 class="mt-2" [style]="{'font-size':'30px'}">Regístrate</h1>
            </div>
        </div>
        <form [formGroup]="formRegistro" (ngSubmit)="crearUsuario()">

            <label for="text" class="block text-900 font-medium mb-2 ">Nombres</label>
            <span class="p-input-icon-left w-full mb-2">
                <i class="pi pi-user"></i>
                <input type="text" pInputText class="w-full" placeholder="Nombres" formControlName="nombres"
                    autocomplete="nombres" />
            </span>

            <!-- <small class="mb-3" id="username-help" class="p-error" *ngIf="formRegistro.get('nombres').hasError('pattern') || formRegistro.get('nombres').hasError('required')">
                        <i class="pi pi-exclamation-circle"></i>
                        Solo letras Mayusculas y Minusculas
                    </small> -->

            <label for="text" class="block text-900 font-medium mb-2 ">Apellidos</label>
            <span class="p-input-icon-left w-full mb-2">
                <i class="pi pi-user"></i>
                <input type="text" pInputText class="w-full" placeholder="Apellidos" formControlName="apellidos"
                    autocomplete="apellidos" />
            </span>

            <!-- <small class="mb-3" id="username-help" class="p-error" *ngIf="formRegistro.get('nombres').hasError('pattern')">
                        <i class="pi pi-exclamation-circle"></i>
                        Solo letras Mayusculas y Minusculas
                    </small> -->


            <label for="text" class="block text-900 font-medium mb-2 ">Correo Electrónico</label>
            <span class="p-input-icon-left w-full mb-2">
                <i class="pi pi-google"></i>
                <input type="text" pInputText class="w-full" placeholder="Correo Electrónico" formControlName="correo"
                    autocomplete="email" />
            </span>

            <small class="mb-3" id="username-help" class="p-error" *ngIf="formRegistro.get('correo').hasError('email')">
                <i class="pi pi-exclamation-circle"></i>
                Correo electrónico no válido.
            </small>

            <label for="password" class="block text-900 font-medium mb-2 ">Contraseña</label>
            <span class="p-input-icon-left w-full mb-2">
                <i class="pi pi-unlock"></i>
                <input type="password" pInputText class="w-full" placeholder="Contraseña" formControlName="contrasenia"
                    autocomplete="current-password" />
            </span>

            <small class="mb-3" id="username-help" class="p-error"
                *ngIf="formRegistro.get('contrasenia').hasError('pattern')">
                <i class="pi pi-exclamation-circle"></i>
                Contraseña no válida.
            </small>

            <div class="flex align-items-center justify-content-between mb-4 mt-3">

            </div>

            <button pButton pRipple label="Registrarse" class="w-full" type="submit"
                [disabled]="!formRegistro.valid"></button>

            <div style="text-align: center; color: red; padding-top: 10px;">{{msgRegistro}}</div>

            <div class="flex align-items-center justify-content-rigth mt-5">
                <div class="flex align-items-center">
                    <label for="rememberme1">¿Ya tienes una cuenta?</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                    (click)="router.navigate(['/auth/login'])">Inicia Sesión
                    <i class="pi pi-external-link" [style]="{'font-size': '10px', 'margin-left': '1px'}"></i>
                </a>

            </div>
        </form>
    </div>
</div>