.table{
    text-align: center;
}

.imagen-redonda {
    border-radius: 400%;

    height: 70px;
    width: 70px;
  }

  .tabla{
justify-content: center;  }


.table.table-bordered th,
.table.table-bordered td {
  border: none;
}