/* Estilos personalizados para el footer */


// .container{
//   background-color: black;
// }

.footer-content {
    background-color: grey;
    color: #fff;
    // padding: 10px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
  }
  

  