<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32">
                  <use xlink:href="#bootstrap"></use>
              </svg>
          </a>
          <a class="nav-link" href="#"><img src="assets/colitas/images/logo_loginReducido1.png" height="50" alt=""></a>
      </div>

      <div class="col">

      </div>

      <div class="col">
          <h5>Support</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Forum Support</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help & FAQ</a></li> 
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing & Plans</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cookie Policy</a></li> 
          </ul>
      </div>

      <div class="col">
          <h5>Company</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">My Account</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Company</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Service</a></li>
          </ul>
      </div>

      <div class="col">
          <h5>Get In Touch</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">121 King St, Melbourne VIC,
                      3000,Australia</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">info@example.com</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+1 (888) 123 4567</a></li> 
          </ul>
      </div>
  </footer>
</div><!--PRE-FOOTER-->


<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© Copyright 2022 Radiant Themes, All Rights Reserved.</p>

      <a href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
          </svg>
      </a>

      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Term & Condition</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Careers</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
      </ul>
  </footer>
</div>
  